<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="app.component.css">
  <title>Document</title>
</head>
<body>
<div class="checkboxing_year">
 <div class="checked">
  <h2>Рік видання</h2>
  <input type="checkbox" > 1971-1980 <br>
  <input type="checkbox" > 1981-1990 <br>
  <input type="checkbox" > 1991-2000 <br>
  <input type="checkbox" > 2001-2010 <br>
</div>

<div class="checkboxing">
  <h2>Видавництво</h2>
  <input type="checkbox" ng-model="checkboxModel.value1" > Проствіта <br>
  <input type="checkbox" > Ранок <br>
  <input type="checkbox" > Поліграфіст<br>
  <input type="checkbox" > BOOKSHEF<br>
</div>
</div>
<div class="search">
  <input  type="text" size="30" placeholder="Введіть назву книги?">
 </div>
<div class="one">
  <img class="book-img" src="bookig.png" alt="logo">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reiciendis beatae neque sit, cum numquam nihil deleniti quas, earum ab debitis commodi quo, aperiam molestiae.</p>
  <div class="sylka">
  <a class="prewier" href="">Preview</a>
  <a href="">Order</a></div>
  <div class="rating_block">
      <input name="rating" value="5" id="rating_5" type="radio" />
      <label for="rating_5" class="label_rating"></label>
    
      <input name="rating" value="4" id="rating_4" type="radio" />
      <label for="rating_4" class="label_rating"></label>
    
      <input name="rating" value="3" id="rating_3" type="radio" />
      <label for="rating_3" class="label_rating"></label>
    
      <input name="rating" value="2" id="rating_2" type="radio" />
      <label for="rating_2" class="label_rating"></label>
    
      <input name="rating" value="1" id="rating_1" type="radio" />
      <label for="rating_1" class="label_rating"></label>
    </div>
</div>
<div class="book">
    <img class="book-img" src="bookig.png" alt="logo">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reiciendis beatae neque sit, cum numquam nihil deleniti quas, earum ab debitis commodi quo, aperiam molestiae.</p>
    <div class="sylka">
    <a class="prewier" href="">Preview</a>
    <a href="">Order</a></div>
    <div class="rating_block">
        <input name="rating" value="5" id="rating_5" type="radio" />
        <label for="rating_5" class="label_rating"></label>
      
        <input name="rating" value="4" id="rating_4" type="radio" />
        <label for="rating_4" class="label_rating"></label>
      
        <input name="rating" value="3" id="rating_3" type="radio" />
        <label for="rating_3" class="label_rating"></label>
      
        <input name="rating" value="2" id="rating_2" type="radio" />
        <label for="rating_2" class="label_rating"></label>
      
        <input name="rating" value="1" id="rating_1" type="radio" />
        <label for="rating_1" class="label_rating"></label>
      </div>
  </div>
  
<div class="book">
    <img class="book-img" src="bookig.png" alt="logo">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reiciendis beatae neque sit, cum numquam nihil deleniti quas, earum ab debitis commodi quo, aperiam molestiae.</p>
    <div class="sylka">
    <a class="prewier" href="">Preview</a>
    <a href="">Order</a></div>
    <div class="rating_block">
        <input name="rating" value="5" id="rating_5" type="radio" />
        <label for="rating_5" class="label_rating"></label>
      
        <input name="rating" value="4" id="rating_4" type="radio" />
        <label for="rating_4" class="label_rating"></label>
      
        <input name="rating" value="3" id="rating_3" type="radio" />
        <label for="rating_3" class="label_rating"></label>
      
        <input name="rating" value="2" id="rating_2" type="radio" />
        <label for="rating_2" class="label_rating"></label>
      
        <input name="rating" value="1" id="rating_1" type="radio" />
        <label for="rating_1" class="label_rating"></label>
      </div>
  </div>
</div>
</body>
</html>

